

.bg-body-tertiary
{
  background-color: rgb(169, 187, 205) !important;
  padding: 20px}
.brandName{
  color: rgb(74, 71, 74);
  font-family: "Dela Gothic One", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-left: 20px;
}
.btn-primary{
  --bs-btn-bg: #657387;
  --bs-btn-border-color: #5d708d;
  --bs-btn-hover-bg: #262c35;
}
.footer
{
  color: #434d5b;
  font-family: "Kalam", cursive;
  font-weight: 400;
  font-style: normal;
  margin: auto;
  align-self: center;
}
#centercard {
  align-content: center !important;
  margin: auto;
  margin-top: 5rem !important;
  margin-bottom: 10rem !important;
  height: auto;
  width: 30rem !important;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  
}

.cardButton{
  display: flex;
  justify-content: space-around;
}
.CompanyForm{
width: 20rem;
height: 25rem;
// display: flex;
// flex-direction: column;
// justify-content: center;
margin: auto;
background-color: rgba(205, 205, 205, 0.414);
padding: 15px;
border-radius: 5%;

}
/* .Result{
  background-color: #262c35;
} */
.hstack{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 5rem;

}
.card{
  margin-top: 0;
  width: 20rem !important;
  min-height: 25rem;
  height: auto;
  --bs-card-border-radius:5%;
  padding: 1rem;

}
.card-title{
  border-bottom: 3px dotted #bbb;
  padding-bottom: 2px;
  
}
.p-2{
border: 20%;
margin-top: 5rem;
margin-bottom: 5rem;
}
.company{
  margin-top: 5rem;
}
.rb-title{
  padding-top: 1rem;
  margin-bottom: 1rem;
}
